<!DOCTYPE html>
<html>
<head>
    <title>moePower</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

    <link href="../static/css/megamenu.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>

    <!-- CuFon ends -->
</head>
<body>



<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="content">
                <ul class="megamenu skyblue">
                    <li class="active"><a href="main.jsp">主站</a></li>
                    <li class="grid"><a href="#">资讯</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col3"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col4"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col5"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col6"></div>
                            </div>
                            <div class="row">
                                <div class="col3"></div>
                                <div class="col3"></div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col2"></div>
                            </div>
                            <div class="row">
                                <div class="col1"></div>
                                <div class="col4"></div>
                                <div class="col1"></div>
                            </div>
                            <div class="row">
                                <div class="col4"></div>
                                <div class="col2"></div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col3"></div>
                                <div class="col1"></div>
                            </div>
                        </div></li>
                    <li><a href="twit.jsp">动态</a>
                        <div class="megapanel"></div></li>
                    <li><a href="#">涩图</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <img src="img/1.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/2.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/3.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/4.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/5.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/6.jpg" title="image" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col1">
                                    <img src="img/7.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/8.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/9.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/10.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/11.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/12.jpg" title="image" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col1">
                                    <img src="img/13.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/14.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/15.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/16.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/17.jpg" title="image" />
                                </div>
                                <div class="col1">
                                    <img src="img/18.jpg" title="image" />
                                </div>
                            </div>
                        </div></li>
                    <li><a href="#">社区</a>
                        <ul class="dropdown">
                            <li><a href="#">同人相关</a></li>
                            <li><a href="#">资源贴</a></li>
                            <li><a href="#">灌水区</a>
                                <ul class="dropdown">
                                    <li><a href="#">Dropdown item</a></li>
                                    <li><a href="#">Dropdown item</a></li>
                                    <li><a href="#">Dropdown item</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Dropdown item</a></li>
                                            <li><a href="#">Dropdown item</a></li>
                                            <li><a href="#">Dropdown item</a></li>
                                            <li><a href="#">Dropdown item</a></li>
                                        </ul></li>
                                    <li><a href="#">Dropdown item</a></li>
                                </ul></li>
                            <li><a href="#">关注内容</a></li>
                        </ul></li>
                    <li><a href="#">反馈建议</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col3">
                                    <form class="contact" action="reportServlet" method="post">
                                    <label for="name">名字 Name</label><input id="name" type="text" /><label
                                        for="email">E-mail</label><input id="email" type="text" /><label
                                        for="message">内容 Message</label>
                                    <textarea rows="8" id="message"></textarea>
                                    <input type="submit" value="Send" />
                                    </form>
                                </div>
                                <div class="col3">
                                    <h4>联系我们 How to contact us</h4>
                                    <p>这里是意见反馈区</p>
                                    <p>请在左边填写内容</p>
                                    <div class="adress">
                                        <label><strong>BlueCitizen.</strong></label><label>weibo @BC君 </label><label>Bilibili動画 @BCくん </label><label>China </label><label>Phone:
                                        0000 </label><label><a href="#">bluecitizens@hotmail.com</a></label>
                                    </div>
                                </div>
                            </div>
                        </div></li>
                    <li class="login">

                        <a href="login.html">单击co↑co↓登录</a>


                        <ul class="dropdown">
                            <li><a href="#">投稿</a></li>
                            <li><a href="#">收藏夹</a></li>
                            <li><a href="self.jsp">个人中心</a></li>
                            <li><a href="logout.jsp">退出登录</a></li>
                        </ul>

                    </li>
                </ul>
            </div>

            <div class="clr"></div>
            <div class="submeau">
                <div class="logo">
                    <h1>
                        <span>Virtual</span>Tubers<br />
                        <div id="oa_submeau">
                            <small>虚拟主播是指使用虚拟形象在视频网站上进行投稿活动的up主 <br>以虚拟YouTuber(Vtuber)最为人所熟知。
                            </small>
                        </div>
                    </h1>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="body">
        <div class="body_resize">
            <div class="left">
                <img src="images/Upd8.jpg" alt="img" width="210" height="210" />
                <h2>
                    Upd8 <span>アップデート</span>
                </h2>
                <p>
                    <span>(引用自萌娘百科)</span><br /> upd8 (日语：アップデート，音同Update)
                    由株式会社Activ8成立于2018年5月31日，是一个虚拟YouTuber事务企划。

                    其主要业务是为签约虚拟YouTuber提供企划、制作、发布等全方位技术支持，联络电视节目出演、联动、周边、大型活动等业务，联络媒体宣发以及提供知识产权、法务援助，并为签约新人设计虚拟形象等。

                    初期签约虚拟YouTuber有：绊爱、Omega Sisters、小山内芽衣、Moscow Mule、つのはねあかぎ、Ayamina
                    Games、音无Rhythm、YuNi、兽神男子。 upd8的logo设计由设计了攻壳机动队中笑脸男logo的Paul
                    Nicholson担当。 阅读更多：https://zh.moegirl.org/Upd8
                    本文引自萌娘百科（https://zh.moegirl.org/），文字内容默认使用【知识共享 署名-非商业性使用-相同方式共享
                    3.0】协议。你可以单击 <a href="https://upd8.jp/">upd8（アップデート）
                    -ジゲンを超えてジブンをムゲンに</a>來访问官方网站。
                </p>
                <img src="images/reading.gif" alt="img" width="118" height="23"
                     class="floated" />
                <div class="bg"></div>
                <img src="images/hololive.jpg" alt="img" width="320" height="210" />
                <h2>
                    hololive <span>ホロライブ</span>
                </h2>
                <p>
                    hololive（日语：ホロライブ）最初是COVER株式会社制作的虚拟YouTuber捕捉app，现通常指其旗下虚拟YouTuber组织。你可以点击
                    <a target="_blank" href="https://www.hololive.tv/">ホロライブ公式</a>来访问他们的社区网站。
                </p>
                <img src="images/reading.gif" alt="img" width="118" height="23"
                     class="floated" />
                <div class="bg"></div>

                <img src="images/img_3.jpg" alt="img" width="218" height="210" />
                <h2>
                    Contrary to <span>popular belief</span>
                </h2>
                <p>
						<span>Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Donec libero. Suspendisse bibendum.</span><br /> Cras id urna.
                    Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius
                    lorem, eu leo a pharetra condimentum, lorem tellus eleifend magna,
                    eget fringilla velit magna id neque. <a href="#">Curabitur vel
                    urna. In tristique orci porttitor ipsum</a>. Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit. Donec libero. Suspendisse
                    bibendum.
                </p>
                <img src="images/reading.gif" alt="img" width="118" height="23"
                     class="floated" />
                <div class="bg"></div>
            </div>
            <div class="right">
                <h2>
                    导航<span> _(:з」∠)_</span>
                </h2>
                <ul>
                    <li><a href="#"> 首页</a></li>
                    <li><a href="#"> 资讯</a></li>
                    <li><a href="#"> 同人</a></li>
                    <li><a href="#"> 交♂流</a></li>
                    <li><a href="#"> 资源</a></li>
                    <li><a href="#" title="Website Templates">Web Templates</a></li>
                </ul>
                <p>&nbsp;</p>
                <h2>
                    <span>Sponsors</span>
                </h2>
                <ul>
                    <li class="sponsors"><a href="#" title="Website Templates">DreamTemplate</a><br />
                        <span>Over 6,000+ Premium Web Templates</span></li>
                    <li class="sponsors"><a href="#" title="WordPress Themes">TemplateSOLD</a><br />
                        <span>Premium WordPress &amp; Joomla Themes</span></li>
                    <li class="sponsors"><a href="#" title="Affordable Hosting">ImHosted.com</a><br />
                        <span>Affordable Web Hosting Provider</span></li>
                    <li class="sponsors"><a href="#"
                                            title="Free WordPress Themes">FreeThemeLayouts</a><br /> <span>Free
								WordPress Themes</span></li>
                    <li class="sponsors"><a href="#" title="Website Builder">Evrsoft</a><br />
                        <span>Website Builder Software &amp; Tools</span></li>
                    <li class="sponsors"><a href="#" title="Stock Icons">MyVectorStore</a><br />
                        <span>Royalty Free Stock Icons</span></li>
                </ul>
                <p>&nbsp;</p>
                <h2>
                    <span>login</span>
                </h2>
                <div class="login2">
                    <form id="form2" name="form1" method="post" action="">
							<span> <input name="q" type="text" class="keywords"
                                          maxlength="50" value="login..." />
							</span> <input name="b" type="image" src="images/login_2.gif"
                                           class="button" />
                    </form>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="FBG">
        <div class="FBG_resize">
            <div class="blok">
                <h2>About</h2>
                <img src="images/fbg_img_1.gif" alt="img" width="80" height="80" />
                <p>
                    <strong>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. </strong><br /> Donec libero. Suspendisse bibendum. Cras
                    id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
                    varius lectus turpis varius lorem, eu posuere nunc justo tempus
                    leo. Donec mattis, purus nplacerat orci ut diam.
                </p>
                <p>
                    <a href="#">Learn more...</a>
                </p>
            </div>
            <div class="blok">
                <h2>Lorem Ipsum</h2>
                <p>
                    <strong>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</strong> Donec libero. Suspendisse bibendum. Cras id
                    urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
                    varius lorem, eu posuere nunc justo tempus leo. <br /> Donec
                    mattis, purus nec placerat bibendum, dui pede condimentum odio, ac
                    blandit ante orci ut diam.
                </p>
                <ul>
                    <li><a href="#">• consequat molestie</a></li>
                    <li><a href="#">• sem justo</a></li>
                    <li><a href="#">• semper</a></li>
                    <li><a href="#">• magna sed purus</a></li>
                </ul>
                <ul>
                    <li><a href="#">• sem justo</a></li>
                    <li><a href="#">• semper</a></li>
                    <li><a href="#">• magna sed purus</a></li>
                    <li><a href="#">• consequat molestie</a></li>
                </ul>
            </div>
            <div class="blok">
                <h2>Site Partners</h2>
                <img src="images/gal_img_1.jpg" alt="img" width="68" height="68" />
                <img src="images/gal_img_2.jpg" alt="img" width="68" height="68" />
                <img src="images/gal_img_3.jpg" alt="img" width="68" height="68" />
                <img src="images/gal_img_4.jpg" alt="img" width="68" height="68" />
                <img src="images/gal_img_5.jpg" alt="img" width="68" height="68" />
                <img src="images/gal_img_6.jpg" alt="img" width="68" height="68" />
                <div class="clr"></div>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Donec libero.</p>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_resize">
            <p>
                &copy; Copyright &copy; 2019.BlueCity All rights reserved.<a
                    target="_blank" href="drop.jsp">visit us</a>
            </p>

        </div>
        <div class="clr"></div>
    </div>
</div>
<div style="display: none">
    <script src="js/stat.js" type="text/javascript" charset="UTF-8"></script>
</div>
<!--通用底部-->
<script src="js/jquerylogo.min.js"></script>
<script type="text/javascript">
    $("#oa_submeau").hide();
    $(".submeau").hover(function() {
        $("#oa_submeau").show();
    }, function() {
        $("#oa_submeau").hide();
    })
    // 鼠标移动到list的div上的时候list div不会被隐藏
    $("#oa_submeau").hover(function() {
        $("#oa_submeau").show();
    }, function() {
        $("#oa_submeau").hide();
    })
</script>

</body>

</html>